<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="$(TargetPath)" #>
<# Type[] types = new[] {
    typeof(short), typeof(int), typeof(long),
    typeof(ushort), typeof(uint), typeof(ulong),
    typeof(double), typeof(float),
    typeof(byte)
    };
#>
<# Type[] signedtypes = new[] {
    typeof(short), typeof(int), typeof(long), typeof(decimal)
    };
#>
<# Type[] unsignedtypes = new[] {
    typeof(ushort), typeof(uint), typeof(ulong),
    typeof(byte)
    };
#>
<# Type[] floatingtypes = new[] {
    typeof(double), typeof(float)
    };
#>

using System;
using System.Linq;
using ALife.Core.Utility.Maths;

namespace ALife.Tests.Utility.Maths
{
    /// <summary>
    /// Tests for the ExtraMaths class.
    /// </summary>
    [TestClass]
    public class TestExtraMaths
    {
        <# foreach (var type in signedtypes) { 
        #>

        [TestMethod]
        public void Test<#= type.Name #>CircularClamp()
        {
            <#= type.Name #> min = (<#= type.Name #>)(-1);
            <#= type.Name #> two = (<#= type.Name #>)(2);
            <#= type.Name #> max = (<#= type.Name #>)Math.Round((decimal)(<#= type.Name #>.MaxValue / two));
            <#= type.Name #> negativeNum = -2;
            
            Assert.AreEqual(min, ExtraMaths.CircularClamp(min, min, max));
            Assert.AreEqual(min, ExtraMaths.CircularClamp(max, min, max));
            Assert.AreEqual(max - 1, ExtraMaths.CircularClamp(negativeNum, min, max));
            Assert.AreEqual(min + 1, ExtraMaths.CircularClamp((<#= type.Name #>)(max + 1), min, max));
        }

        <#
        } #>
        <# foreach (var type in floatingtypes) { 
        #>

        [TestMethod]
        public void Test<#= type.Name #>CircularClamp()
        {
            <#= type.Name #> min = (<#= type.Name #>)(-1);
            <#= type.Name #> two = (<#= type.Name #>)(2);

            <#= type.Name #> max = (<#= type.Name #>)Math.Round(<#= type.Name #>.MaxValue / two);
            <#= type.Name #> negativeNum = -2;
            
            Assert.AreEqual(min, ExtraMaths.CircularClamp(min, min, max));
            Assert.AreEqual(min, ExtraMaths.CircularClamp(max, min, max));
            Assert.AreEqual(max - 1, ExtraMaths.CircularClamp(negativeNum, min, max));
        }

        <#
        } #>

        <# foreach (var type in unsignedtypes) { 
        #>

        [TestMethod]
        public void Test<#= type.Name #>CircularClamp()
        {
            <#= type.Name #> min = 0;
            <#= type.Name #> max = (<#= type.Name #>)Math.Round(<#= type.Name #>.MaxValue / 2d);
            
            
            Assert.AreEqual(min, ExtraMaths.CircularClamp(min, min, max));
            Assert.AreEqual(min, ExtraMaths.CircularClamp(max, min, max));
            Assert.AreEqual(min + 1, ExtraMaths.CircularClamp(max + 1, min, max));
        }

        <#
        } #>

        <# foreach (var type in types) { 
        #>

        [TestMethod]
        public void Test<#= type.Name #>Clamp()
        {
            <#= type.Name #> min = 1;
            <#= type.Name #> max = 5;
            
            Assert.AreEqual(min, ExtraMaths.Clamp((<#= type.Name #>)(min - 1), min, max));
            Assert.AreEqual(min, ExtraMaths.Clamp(min, min, max));
            Assert.AreEqual((<#= type.Name #>)(max - 1), ExtraMaths.Clamp((<#= type.Name #>)(max - 1), min, max));
            Assert.AreEqual(max, ExtraMaths.Clamp(max, min, max));
            Assert.AreEqual(max, ExtraMaths.Clamp((<#= type.Name #>)(max + 1), min, max));
        }

        [TestMethod]
        public void Test<#= type.Name #>DeltaClamp()
        {
            <#= type.Name #> absoluteMin = 1;
            <#= type.Name #> absoluteMax = 3;
            
            <#= type.Name #> deltaMin = 1;
            <#= type.Name #> deltaMax = 2;
            
            <#= type.Name #> one = 1;
            <#= type.Name #> two = 2;
            <#= type.Name #> three = 3;
            
            Assert.AreEqual(two, ExtraMaths.DeltaClamp(one, one, deltaMin, deltaMax, absoluteMin, absoluteMax));
            Assert.AreEqual(three, ExtraMaths.DeltaClamp(two, one, deltaMin, deltaMax, absoluteMin, absoluteMax));
            Assert.AreEqual(three, ExtraMaths.DeltaClamp(three, one, deltaMin, deltaMax, absoluteMin, absoluteMax));
        }

        [TestMethod]
        public void Test<#= type.Name #>Maximum()
        {
            <#= type.Name #> one = 1;
            <#= type.Name #> two = 2;
            <#= type.Name #> three = 3;
            <#= type.Name #> four = 4;
            
            Assert.AreEqual(four, ExtraMaths.Maximum(one, two, three, four));
            Assert.AreEqual(four, ExtraMaths.Maximum(one, four, two, three));
            Assert.AreEqual(four, ExtraMaths.Maximum(one, four));
            Assert.AreEqual(one, ExtraMaths.Maximum(one));
        }

        [TestMethod]
        public void Test<#= type.Name #>Minimum()
        {
            <#= type.Name #> one = 1;
            <#= type.Name #> two = 2;
            <#= type.Name #> three = 3;
            <#= type.Name #> four = 4;
            
            Assert.AreEqual(one, ExtraMaths.Minimum(one, two, three, four));
            Assert.AreEqual(one, ExtraMaths.Minimum(four, two, one, three));
            Assert.AreEqual(one, ExtraMaths.Minimum(one, four));
            Assert.AreEqual(four, ExtraMaths.Minimum(four));
        }

        [TestMethod]
        public void Test<#= type.Name #>MinMaxDelta()
        {
            <#= type.Name #> one = 1;
            <#= type.Name #> zero = 1;
            <#= type.Name #> two = 2;
            <#= type.Name #> three = 3;
            <#= type.Name #> four = 4;
            
            Assert.AreEqual(three, ExtraMaths.MinMaxDelta(one, two, three, four));
            Assert.AreEqual(three, ExtraMaths.MinMaxDelta(four, two, one, three));
            Assert.AreEqual(three, ExtraMaths.MinMaxDelta(one, four));
            Assert.AreEqual(zero, ExtraMaths.MinMaxDelta(four));
        }

        <#
        } #>
    }
}
